.soberai-icon {
    position: absolute;
    z-index: 1;
    right: 20px;
    bottom: 20px;
    animation: animate-icon 1s ease-in-out infinite;
}

@keyframes animate-icon {
    0% {
        filter: none;
    }

    50% {
        filter: drop-shadow(16px 16px 20px white) invert(75%);
    }
    100% {
        filter: none;
    }
}

.driver-image {
    z-index: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.user-msg {
    position: absolute;
    z-index: 1;
    top: 30vh;
    text-align: center;
    width: 100%;
}

.user-msg-container {
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    background-color: rgba(0, 0, 0, 0.5);
    /*border-radius: 20px;*/
}

.user-msg-text-sub {
    font-size: 70px;
    text-shadow: 0px 0px 10px white;
}

.user-msg-text {
    font-size: 100px;
    text-shadow: 0px 0px 10px white;
}

.grid-container-left {
    z-index: 1;
    width: 45vw;
    height: 98%;
    position: absolute;
    top: 10px;
    left: 10px;
}

.grid-container-right {
    z-index: 1;
    width: 45vw;
    height: 98%;
    position: absolute;
    top: 10px;
    right: 10px;
}

.grid-cell {
    float: left;
    width: 50%;
    height: 37%;
}


.animation-green {
    animation: colorize-green 3s ease-in-out;
}

.animation-red {
    animation: colorize-red 3s ease-in-out;
}

.roi {
    border-radius: 20px;
    border: white 10px solid;
    box-shadow: 0px 0px 10px white;
    height: 100%;
    width: 100%;
}

@keyframes colorize-green {
    0% {
        border: white 10px solid;
        box-shadow: 0px 0px 10px white;
    }

    50% {
        border: white 10px solid;
        box-shadow: 0px 0px 10px white;
    }

    100% {
        border: green 10px solid;
        box-shadow: 0px 0px 10px green;
    }
}

@keyframes colorize-red {
    0% {
        border: white 10px solid;
        box-shadow: 0px 0px 10px white;
    }

    70% {
        border: white 10px solid;
        box-shadow: 0px 0px 10px white;
    }

    100% {
        border: red 10px solid;
        box-shadow: 0px 0px 10px red;
    }
}

.animate-btn-press {
    animation: btn-press 2s;
    animation-fill-mode: forwards;
}

@keyframes btn-press {
    0% {
    }

    60% {
        text-shadow: none;
        background-color: #d7d7d7;
    }

    80% {
        text-shadow: 0px 0px 10px #000;
        background-color: gray;
    }

    100% {
        text-shadow: none;
        background-color: #d7d7d7;
    }
}
